.login-box {
  position: absolute;
  background: rgb(0, 0, 0,.7);
  width: 600px;
  padding: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  }

.login-box h2{
  margin: 0 0 50px;
  color:white;
  text-align: center;
  font-size: 35px;
}

.login-box .user-box{
  position: relative;
}

.login-box .user-box input{
  width: 100%;
  border-bottom: 1px solid white;
  background:transparent;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
  outline: none;
}

.login-box .user-box label{
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  pointer-events:none ;
  transition: .5s;
}

.login-box .user-box input:focus ~label{
  top: -20px;
  font-size: 15px;
  color: aqua;
}

.login-box .user-box .floatLabel{
  top: -20px;
  font-size: 15px;
  color: aqua;
}
.login-box .user-box input:valid ~label {
  top: -20px;
  font-size: 15px;
  color: rgb(0, 255, 42);
}

.login-box form .link-container{
display: grid;
grid-template-columns: 1fr 1fr;
width: 100%;

}

.link-container button:first-child {
  justify-self: start;
}

.link-container button:last-child {
  justify-self: end;
}

.login-box form button{
  background: transparent;
}
.login-box form p{
color: white;
font-size:15px ;
}
.login-box form a{
  display: inline-block;
  margin-top: 30px;
  padding: 10px 10px;
  color: aqua;
  font-size: 20px;
  border: 1px solid aqua;
  border-radius: 20px;
  letter-spacing: 2px;
  
}

.login-box form a:hover{
background: rgb(3, 107, 107);
border-color: rgb(3, 107, 107);
color: white; 
}

.login-box form .link-container .girisbtn  {
  background: transparent;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 10px;
  color: aqua;
  font-size: 20px;
  border: 1px solid aqua;
  border-radius: 20px;
  letter-spacing: 2px;
}
.login-box form .link-container .girisbtn:hover  {
  background: rgb(3, 107, 107);
  border-color: rgb(3, 107, 107);
  color: white; 
  cursor: pointer;
}