.home {
  background: url('http://localhost:3000/pics/scissors.jpg');
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  margin-top: -4.7rem;
  align-items: center;
  font-size: 2rem;
}

.home .content {
  max-width: 60rem;
  backdrop-filter: sepia(30%);
  padding-left: 2rem;
  box-shadow: 2px 2px #8a843a;
}

.home h1 {
  color: white;
  font-size: 8rem;
  -webkit-text-stroke: 2px #6d806a;
}

.home p {
  color: rgb(199, 199, 199);
  text-indent: 6rem;
  line-height: 3rem;
  margin-top: 4rem;
}