@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-color: #6d806a;
}

* {
  text-decoration: none;
  transition: 0.2s ease;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: #424641;
  background: url(../public/pics/scissors.jpg);
}

html {
  font-size: 62.5%;
}

section {
  padding: 2rem 7%;
}

